.FaqMessage {
    .question{
        padding: 0;
        user-select: none;
        cursor:pointer;
        color: blue;
        margin-bottom: 20px;
    }

    .request{
        display: inline-block;
        max-width: 80%;
    }

    .answer{
        p{
            margin-left: 10px;
            font-size: 1.2em;
            &.bigger{
                font-weight: bold;
            }
        }
    }
}
